@import '~antd/dist/antd.css';

// 夜间模式
html[data-prefers-color='dark'] {
  @import '~antd/dist/antd.dark.less';
}

// 优化CardPro
.markdown {
  .ant-card-head {
    padding-left: 14px !important;
  }

  .ant-card-body {
    overflow: hidden;

    // Card内嵌Desc，优化边框显示
    .ant-descriptions,
    .ant-descriptions-bordered {
      margin: -2px;
    }

    // Card内嵌Table，优化边框显示
    .ant-table-content > table {
      border: none !important;

      .ant-table-row .ant-table-cell:first-child {
        background: #fafafa;
      }

      .ant-table-cell {
        border-top: solid 0.5px #eee !important;
        border-bottom: none !important;
        border-left: none !important;
        border-right: none !important;
      }
    }
  }
}

// 优化复制按钮的样式
.ant-typography {
  margin-bottom: 0 !important;
}

// 隐藏复制按钮，移入显示
.ant-descriptions-item-label,
.ant-descriptions-item-content,
.ant-table-cell,
.ant-card-head-title {
  .anticon.anticon-copy {
    visibility: hidden;
  }

  :hover {
    .anticon.anticon-copy {
      visibility: visible;
    }
  }
}
